<h1> Dragonball Super Page</h1>
<hr>
<section class="row">
  <div class="col-12 col-sm-6">
    <!-- dragonball-character-add -->
    <dragonball-character-add
    (newCharacter)="addCharacter($event)"/> <!-- funciona como un click , y con el event recibimos el personaje -->
  </div>

  <div class="col-12 col-sm-6">
    <!-- el componente padre le manda el input al hijo  -->
    <dragonball-character-list
     listName="Listado de personajes"
    [characters]="characters()"/>
 <!--    <h3>Listado de personajes fuertes</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index){
        @if(character.power > 500){ forma de trabajar las condiciones
          <li>
            <span>{{idx + 1}} {{character.name}} </span> empieza en 0 porque los arreglos empiezan en 0 por eso el + 1 para que empiece en 1
            <strong
            [class.text-primary]="character.power < 9000"
            [class.text-danger]="character.power > 9000">( {{character.power}} )</strong>
            </li>
        }@else {
          <li><strong>No vale la pena</strong></li>
        }

      }
          <li>Goku</li>  Elemento a repetir

    </ul> -->
  </div>
</section>
